.primary-colors-container,
.secondary-colors-container,
.alert-colors-container {
  overflow: auto;
}

.primary-color,
.secondary-color {
  float: left;
  width: 100px;
  margin-right: 20px;

  .normal {
    height: 100px;
  }
  .hover {
    height: 40px;
  }
}

.primary-color {
  &:nth-child(1) {
    .normal {
      background: $primary-dark-blue;
    }
    .hover {
      background: $primary-dark-blue_hover;
    }
  }

  &:nth-child(2) {
    .normal {
      background: $primary-light-blue;
    }
    .hover {
      background: $primary-light-blue_hover;
    }
  }

  &:nth-child(3) {
    .normal {
      background: $primary-bright-blue;
    }
    .hover {
      background: $primary-bright-blue_hover;
    }
  }

  &:nth-child(4) {
    .normal {
      background: $primary-dark-grey;
    }
    .hover {
      background: $primary-dark-grey_hover;
    }
  }

  &:nth-child(5) {
    .normal {
      background: $primary-grey;
    }
    .hover {
      background: $primary-grey_hover;
    }
  }

  &:nth-child(6) {
    .normal,
    .hover {
      background: $primary-white;
    }
  }
  &.white {
    border: 1px solid #e2e2e2;
  }
}

.secondary-color {
  &:nth-child(1) {
    .normal {
      background: $secondary-purple;
    }
    .hover {
      background: $secondary-purple_hover;
    }
  }

  &:nth-child(2) {
    .normal {
      background: $secondardy-green;
    }
    .hover {
      background: $secondardy-green_hover;
    }
  }

  &:nth-child(3) {
    .normal {
      background: $secondardy-yellow;
    }
    .hover {
      background: $secondardy-yellow_hover;
    }
  }

  &:nth-child(4) {
    .normal {
      background: $secondardy-orange;
    }
    .hover {
      background: $secondardy-orange_hover;
    }
  }
}

.normal .color-label,
.hover .color-label {
  display: block;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  color: white;
}

.hover .color-label {
  font-size: 12px;
}

.normal .color-label{
  line-height: 100px;
}

.hover .color-label {
  line-height: 40px;
}

.white .normal .color-label{
  color: $primary-dark-grey;
}

.alert-color {
  float: left;
  width: 85px;

  .color {
    width: 45px;
    height: 45px;
    border-radius: 100%;
  }

  .label,
  .description {
    display: block;
    font-size: 14px;
    font-weight: 300;
    color: $primary-grey;
  }

  .label {
    margin-top: 20px;
  }

  .description {
    &:nth-child(3) {
      margin-top: 10px;
    }
  }

  &:nth-child(1) {
    .color {
      background: $alert-green;
    }
  }
  &:nth-child(2) {
    .color {
      background: $alert-red;
    }
  }
  &:nth-child(3) {
    .color {
      background: $alert-yellow;
    }
  }
  &:nth-child(4) {
    .color {
      background: $alert-orange;
    }
  }
}

