.nav-container {
  position: relative;
  float: left;
  width: 216px;
  height: 100%;
  background: $primary-white;
  border-right: 1px solid $border-grey;
}

.icon-container {
  position: relative;
  height: 216px;
  background: $primary-white;

  .icon {
    position: absolute;
    //width: 50%;
    margin: auto;
    top: 0;
    right: 0;
    //bottom: 0;
    //left: 0;
  }
}


.nav {
  position: absolute;
  width: 100%;
  padding: 0;
  margin: 0;

  .nav-item {
    list-style: none;
    cursor: pointer;

    .nav-item-link {
      color: $primary-light-blue;
      text-decoration: none;

      .nav-item-label {
        padding: 20px;
        margin: 0;
      }
    }

    &:hover {
      .nav-item-link {
        color: $primary-dark-grey;
      }
    }

    &.selected {
      .nav-item-link {
        color: $primary-grey;
      }
    }
  }
}