.nav-container {
  position: relative;
  float: left;
  width: 216px;
  height: 100%;
  background: #f7f7f7;
}

.icon-container {
  position: relative;
  height: 216px;
  background: $primary-dark-blue;

  .icon {
    position: absolute;
    width: 50%;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
}

.nav {
  position: absolute;
  width: 100%;
  padding: 0;
  margin: 0;

  .nav-item {
    list-style: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    .nav-item-link {
      font-size: 20px;
      font-weight: 300;
      color: $primary-grey;
      text-decoration: none;

      .nav-item-label {
        padding: 20px;
        margin: 0;
      }
    }

    &:hover,
    &.selected {
      .nav-item-link {
        color: $primary-dark-grey;
      }
    }

    &.selected {
      background: $primary-white;
    }
  }
}