.main-section {
  height: 100%;
  margin-left: 216px;
  padding: 40px;
  box-sizing: border-box;
  //overflow: auto;
}

.section-heading {
  margin: 0;
  padding-bottom: 15px;
  font-weight: 300;
  border-bottom: 1px solid #e2e2e2;
  color: #000000;
  font-size: 24px;
}

.sub-section {
  margin-top: 30px;
}

.sub-section-heading {
  margin: 30px 0 10px 0;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
}

.sub-section-text {
  margin: 0 0 65px 0;
  font-weight: 300;
  color: #000000;
}
