@charset "UTF-8";


// GLOBAL

@import "../continu-app/public/sass/import/variables";
@import "../continu-app/public/sass/vendor/ss-standard";
@import "../continu-app/public/sass/vendor/ss-symbolicons-block";
// LOCAL

@import "_variables";

@import "nav";
@import "section";
@import "color";
@import "typography";
@import "icons";
@import "buttons";
@import "tables";
@import "forms";
@import "navigation";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: $sans-serif;
  color: $primary-grey;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
