@charset "UTF-8";

@import "variables";
@import "ss-symbolicons-block";
@import "nav";
@import "section";
@import "color";
@import "typography";
@import "icons";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: $sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}