.type-container {
  margin: 30px 0 60px;
  overflow: hidden;
}

.sans-serif-container,
.serif-container {
  float: left;
  width: 50%;

  .example {
    float: left;
    font-size: 80px;
    line-height: 64px;
  }

  .description {
    float: left;
    width: 50%;
    margin-left: 30px;

    span {
      display: block;
      font-size: 14px;
    }

    .type {
      font-weight: 500;
      text-transform: uppercase;
    }
  }
}

.sans-serif-container {
  font-family: $sans-serif;
}

.serif-container {
  font-family: $serif;
}

#typography-headings,
#typography-lists,
#typography-body,
#typography-links,
#typography-blockquote {
  float: left;
  width: 105px;

  h5 {
    float: right;
    margin: 0;
    line-height: 24px;
  }
}

#typography-blockquote h5 {
  line-height: 32px;
}

.headings-container,
.list-container,
.body-container,
.links-container,
.blockquote-container {
  margin-left: 135px;
}

.headings-container {
  h1,
  h2,
  h3 {
    margin: 30px 0;
  }
  h1 {
    font-size: 20px;
    font-weight: 500;
  }
  h2 {
    font-size: 18px;
    font-weight: 500;
  }
  h3 {
    font-size: 16px;
    font-weight: 500;
  }
}

.list-container {
  padding-left: 18px;
  font-size: 14px;
  line-height: 24px;

  ul {
    padding-left: 40px;
    list-style-type: disc;
  }
}

.body-container {
  font-size: 14px;
  line-height: 24px;
}

.links-container {
  span {
    display: block;
    font-size: 14px;
    line-height: 24px;

    &.normal {
      color: $primary-light-blue;
    }
    &.hover {
      color: $primary-light-blue_hover;
    }
  }
}

.blockquote-container {
  font-family: $serif;
  font-size: 28px;
  font-style: italic;
}