.nav-container {
  position: relative;
  float: left;
  width: 216px;
  height: 100%;
  background: #f7f7f7; }

.icon-container {
  position: relative;
  height: 216px;
  background: #004071; }
  .icon-container .icon {
    position: absolute;
    width: 50%;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }

.nav {
  position: absolute;
  width: 100%;
  padding: 0;
  margin: 0; }
  .nav .nav-item {
    list-style: none;
    cursor: pointer; }
    .nav .nav-item .nav-item-link {
      color: #939597;
      text-decoration: none; }
      .nav .nav-item .nav-item-link .nav-item-label {
        padding: 20px;
        margin: 0; }
    .nav .nav-item:hover .nav-item-link, .nav .nav-item.selected .nav-item-link {
      color: #191919; }
    .nav .nav-item.selected {
      background: #ffffff; }

.main-section {
  height: 100%;
  margin-left: 216px;
  padding: 40px;
  box-sizing: border-box; }

.section-heading {
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #e2e2e2;
  color: #0072aa; }

.sub-section {
  margin-top: 30px; }

.sub-section-heading {
  margin: 30px 0;
  font-weight: 400;
  text-transform: uppercase;
  color: #191919; }

.primary-colors-container, .secondary-colors-container, .alert-colors-container {
  overflow: auto; }

.primary-color, .secondary-color {
  float: left;
  width: 100px;
  margin-right: 20px; }
  .primary-color .normal, .secondary-color .normal {
    height: 100px; }
  .primary-color .hover, .secondary-color .hover {
    height: 40px; }

.primary-color:nth-child(1) .normal {
  background: #004071; }
.primary-color:nth-child(1) .hover {
  background: #3e6e93; }
.primary-color:nth-child(2) .normal {
  background: #0072aa; }
.primary-color:nth-child(2) .hover {
  background: #4095bf; }
.primary-color:nth-child(3) .normal {
  background: #00bcf2; }
.primary-color:nth-child(3) .hover {
  background: #40cdf5; }
.primary-color:nth-child(4) .normal {
  background: #191919; }
.primary-color:nth-child(4) .hover {
  background: #535353; }
.primary-color:nth-child(5) .normal {
  background: #939597; }
.primary-color:nth-child(5) .hover {
  background: #aeb0b1; }
.primary-color:nth-child(6) .normal, .primary-color:nth-child(6) .hover {
  background: #ffffff; }
.primary-color.white {
  border: 1px solid #e2e2e2; }

.secondary-color:nth-child(1) .normal {
  background: #a871c0; }
.secondary-color:nth-child(1) .hover {
  background: #bc93ce; }
.secondary-color:nth-child(2) .normal {
  background: #00aa8d; }
.secondary-color:nth-child(2) .hover {
  background: #3ebda8; }
.secondary-color:nth-child(3) .normal {
  background: #f2d452; }
.secondary-color:nth-child(3) .hover {
  background: #f3dd7b; }
.secondary-color:nth-child(4) .normal {
  background: #ff8100; }
.secondary-color:nth-child(4) .hover {
  background: #fbb56c; }

.normal .color-label, .hover .color-label {
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: white; }

.normal .color-label {
  font-size: 14px; }

.hover .color-label {
  font-size: 12px; }

.normal .color-label {
  line-height: 100px; }

.hover .color-label {
  line-height: 40px; }

.white .normal .color-label {
  color: #191919; }

.alert-color {
  float: left;
  width: 85px; }
  .alert-color .color {
    width: 45px;
    height: 45px;
    border-radius: 100%; }
  .alert-color .label, .alert-color .description {
    display: block;
    font-size: 14px;
    font-weight: 300;
    color: #939597; }
  .alert-color .label {
    margin-top: 20px; }
  .alert-color .description:nth-child(3) {
    margin-top: 10px; }
  .alert-color:nth-child(1) .color {
    background: #00ce6c; }
  .alert-color:nth-child(2) .color {
    background: #fa4846; }
  .alert-color:nth-child(3) .color {
    background: #f0e700; }
  .alert-color:nth-child(4) .color {
    background: #ff5019; }

.type-container {
  margin: 30px 0;
  overflow: auto; }

.sans-serif-container, .serif-container {
  float: left;
  width: 50%; }
  .sans-serif-container .example, .serif-container .example {
    float: left;
    font-size: 80px;
    line-height: 64px; }
  .sans-serif-container .description, .serif-container .description {
    float: left;
    width: 50%;
    margin-left: 30px; }
    .sans-serif-container .description span, .serif-container .description span {
      display: block;
      font-size: 14px;
      font-weight: 300; }
    .sans-serif-container .description .type, .serif-container .description .type {
      font-weight: 500;
      text-transform: uppercase; }

.sans-serif-container {
  font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif; }

.serif-container {
  font-family: 'Mercury SSm A', 'Mercury SSm B', serif; }

html, body {
  height: 100%; }

body {
  margin: 0;
  font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }
