<h1 class="section-heading">Buttons</h1>

<section class="sub-section">
  <div class="buttons-heading">
    <h5 class="sub-section-heading">Normal</h5>
  </div>

  <div class="buttons-container">
    <span class="height">40px</span>
    <button class="button">Default</button>
    <button class="button hover">Hover</button>
  </div>
</section>

<section class="sub-section">
  <div class="buttons-heading">
    <h5 class="sub-section-heading">Icon</h5>
  </div>

  <div class="buttons-container">
    <span class="height">40px</span>
    <button class="button_icon">
      <span class="ss-icon">&#x002B;</span>
      <span>Default</span>
    </button>
    <button class="button_icon hover">
      <span class="ss-icon">&#x002B;</span>
      <span>Hover</span>
    </button>
  </div>
</section>

<section class="sub-section">
  <div class="buttons-heading">
    <h5 class="sub-section-heading">Outlined</h5>
  </div>

  <div class="buttons-container">
    <span class="height">40px</span>
    <button class="button_outlined">Default</button>
    <button class="button_outlined hover">Hover</button>
  </div>
</section>