<h1 class="section-heading">Color</h1>

<section class="sub-section">
  <h5 class="sub-section-heading">Primary Brand Colors</h5>
  <div class="sub-section-text">Messaging about these colors. Sed posuere consectetur est at lobortis. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</div>
  <div class="primary-colors-container">
    <div class="primary-color">
      <div class="normal">
        <span class="color-label">#004071</span>
      </div>
      <div class="hover">
        <span class="color-label">#3E6E93</span>
      </div>
    </div>
    <div class="primary-color">
      <div class="normal">
        <span class="color-label">#0072AA</span>
      </div>
      <div class="hover">
        <span class="color-label">#4095BF</span>
      </div>
    </div>
    <div class="primary-color">
      <div class="normal">
        <span class="color-label">#00BCF2</span>
      </div>
      <div class="hover">
        <span class="color-label">#40CDF5</span>
      </div>
    </div>
    <div class="primary-color">
      <div class="normal">
        <span class="color-label">#191919</span>
      </div>
      <div class="hover">
        <span class="color-label">#535353</span>
      </div>
    </div>
    <div class="primary-color">
      <div class="normal">
        <span class="color-label">#939597</span>
      </div>
      <div class="hover">
        <span class="color-label">#AEB0B1</span>
      </div>
    </div>
    <div class="primary-color white">
      <div class="normal">
        <span class="color-label">#F7F7F7</span>
      </div>
      <div class="hover"></div>
    </div>
    <div class="primary-color white">
      <div class="normal">
        <span class="color-label">#FFFFFF</span>
      </div>
      <div class="hover"></div>
    </div>
  </div>
</section>


<section class="sub-section">
  <h5 class="sub-section-heading">Alerts</h5>
  <div class="sub-section-text">Messaging about Alerts. Sed posuere consectetur est at lobortis. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</div>
  <div class="alert-colors-container">
    
    <div class="alert-color">
      <div class="color">
        <span class="color-label">#2cc36b</span>
      </div>
      <span class="description">success<br>new</span>
    </div>

    <div class="alert-color">
      <div class="color">
        <span class="color-label">#ea6153</span>
      </div>
      <span class="description">error</span>
    </div>

    <div class="alert-color">
      <div class="color">
        <span class="color-label">#f2d452</span>
      </div>
      <span class="description">warning</span>
    </div>

    <div class="alert-color">
      <div class="color">
        <span class="color-label">#ff8100</span>
      </div>
      <span class="description">alert</span>
    </div>

  </div>
</section>
