<h1 class="section-heading">Color</h1>

<section class="sub-section">
  <h4 class="sub-section-heading">Primary Colors</h4>
  <div class="primary-colors-container">
    <div class="primary-color">
      <div class="normal">
        <span class="color-label">#004071</span>
      </div>
      <div class="hover">
        <span class="color-label">#3e6e93</span>
      </div>
    </div>
    <div class="primary-color">
      <div class="normal">
        <span class="color-label">#0072aa</span>
      </div>
      <div class="hover">
        <span class="color-label">#4095bf</span>
      </div>
    </div>
    <div class="primary-color">
      <div class="normal">
        <span class="color-label">#00bcf2</span>
      </div>
      <div class="hover">
        <span class="color-label">#40cdf5</span>
      </div>
    </div>
    <div class="primary-color">
      <div class="normal">
        <span class="color-label">#191919</span>
      </div>
      <div class="hover">
        <span class="color-label">#535353</span>
      </div>
    </div>
    <div class="primary-color">
      <div class="normal">
        <span class="color-label">#939597</span>
      </div>
      <div class="hover">
        <span class="color-label">#aeb0b1</span>
      </div>
    </div>
    <div class="primary-color">
      <div class="normal">
        <span class="color-label">#ffffff</span>
      </div>
      <div class="hover"></div>
    </div>
  </div>
</section>

<section class="sub-section">
  <h4 class="sub-section-heading">Secondary Colors</h4>
  <div class="secondary-colors-container">
    <div class="secondary-color">
      <div class="normal">
        <span class="color-label">#a871c0</span>
      </div>
      <div class="hover">
        <span class="color-label">#bc93ce</span>
      </div>
    </div>
    <div class="secondary-color">
      <div class="normal">
        <span class="color-label">#00aa8d</span>
      </div>
      <div class="hover">
        <span class="color-label">#3ebda8</span>
      </div>
    </div>
    <div class="secondary-color">
      <div class="normal">
        <span class="color-label">#f2d452</span>
      </div>
      <div class="hover">
        <span class="color-label">#f3dd7b</span>
      </div>
    </div>
    <div class="secondary-color">
      <div class="normal">
        <span class="color-label">#ff8100</span>
      </div>
      <div class="hover">
        <span class="color-label">#fbb56c</span>
      </div>
    </div>
  </div>
</section>

<section class="sub-section">
  <h4 class="sub-section-heading">Alert Colors</h4>
  <div class="alert-colors-container">
    <div class="alert-color"></div>
    <div class="alert-color"></div>
    <div class="alert-color"></div>
    <div class="alert-color"></div>
  </div>
</section>