<h1 class="section-heading">Forms</h1>

<section class="sub-section">
  <h5 class="sub-section-heading">Standard Form Elements</h5>

  <!-- textfield -->
  <form>
    <span class="label">Label</span>

    <input type="text">
  </form>

  <!-- dropdown -->
  <form>
    <span class="label">Label</span>

    <div class="dropdown large">
      <select>
        <option>Option</option>
      </select>
      <span class="ss-icon ss-standard">&#xF501;</span>
    </div>

    <div class="dropdown small">
      <select>
        <option>Option</option>
      </select>
      <span class="ss-icon ss-standard">&#xF501;</span>
    </div>
  </form>

  <!-- textbox -->
  <form>
    <span class="label">Text Box</span>
    <span class="required">*</span>

    <textarea></textarea>
  </form>

  <!-- tags -->
  <form class="tags">
    <span class="label">Tags</span>

    <input type="text" placeholder="add tags here (max of three)">
  </form>

  <div class="tags-container">
    <span class="tag">goals</span>
    <span class="tag">marketing</span>
  </div>

  <!-- radio buttons -->
  <form>
    <span class="label">Radio Buttons</span>

    <div class="radio-button">
      <input type="radio" name="group" checked>
      <span class="radio-label">Choice 1</span>
    </div>
    <div class="radio-button">
      <input type="radio" name="group">
      <span>Choice 2</span>
    </div>
  </form>

  <!-- checkboxes -->
  <form>
    <span class="label">Checkboxes</span>

    <div class="checkbox">
      <input type="checkbox" checked>
      <span class="chec-label">Choice 1</span>
    </div>
    <div class="checkbox">
      <input type="checkbox">
      <span>Choice 2</span>
    </div>
  </form>
</section>