<h1 class="section-heading">Icons</h1>

<section class="sub-section">
  <h5 class="sub-section-heading">Symbolicons Block</h5>

  <div class="icons-container">
    <div class="icons-row">
      <span class="ss-icon">&#x2316;</span>
      <span class="ss-icon">&#x1F50D;</span>
      <span class="ss-icon">&#xE002;</span>
      <span class="ss-icon">&#xE003;</span>
      <span class="ss-icon">&#xE010;</span>
      <span class="ss-icon">&#x270B;</span>
      <span class="ss-icon">&#x1F517;</span>
      <span class="ss-icon">&#x270E;</span>
      <span class="ss-icon">&#x1F4DD;</span>
      <span class="ss-icon">&#x1F512;</span>
      <span class="ss-icon">&#x1F513;</span>
      <span class="ss-icon">&#x1F511;</span>
      <span class="ss-icon">&#x232B;</span>
      <span class="ss-icon">&#x1F6AB;</span>
      <span class="ss-icon">&#x1F6AD;</span>
      <span class="ss-icon">&#xE0D0;</span>
      <span class="ss-icon">&#x25CE;</span>
      <span class="ss-icon">&#xE0D1;</span>
      <span class="ss-icon">&#x2622;</span>
      <span class="ss-icon">&#x1F480;</span>
      <span class="ss-icon">&#x2607;</span>
      <span class="ss-icon">&#xE100;</span>
      <span class="ss-icon">&#xE101;</span>
      <span class="ss-icon">&#x2691;</span>
      <span class="ss-icon">&#x1F44D;</span>
    </div>
    <div class="icons-row">
      <span class="ss-icon">&#x1F44E;</span>
      <span class="ss-icon">&#x2665;</span>
      <span class="ss-icon">&#xE1A2;</span>
      <span class="ss-icon">&#x1F494;</span>
      <span class="ss-icon">&#x22C6;</span>
      <span class="ss-icon">&#x1F3C6;</span>
      <span class="ss-icon">&#xE1C0;</span>
      <span class="ss-icon">&#xE1C1;</span>
      <span class="ss-icon">&#x1F4DB;</span>
      <span class="ss-icon">&#x1F451;</span>
      <span class="ss-icon">&#x1F3AF;</span>
      <span class="ss-icon">&#xE200;</span>
      <span class="ss-icon">&#xE201;</span>
      <span class="ss-icon">&#xE202;</span>
      <span class="ss-icon">&#xE203;</span>
      <span class="ss-icon">&#x2702;</span>
      <span class="ss-icon">&#xE204;</span>
      <span class="ss-icon">&#x1F4CB;</span>
      <span class="ss-icon">&#x1F4CF;</span>
      <span class="ss-icon">&#xE205;</span>
      <span class="ss-icon">&#xE206;</span>
      <span class="ss-icon">&#x2712;</span>
      <span class="ss-icon">&#xE222;</span>
      <span class="ss-icon">&#xE223;</span>
      <span class="ss-icon">&#xE224;</span>
    </div>
    <div class="icons-row">
      <span class="ss-icon">&#xE225;</span>
      <span class="ss-icon">&#xE240;</span>
      <span class="ss-icon">&#xE241;</span>
      <span class="ss-icon">&#xE242;</span>
      <span class="ss-icon">&#x1F3A8;</span>
      <span class="ss-icon">&#xE260;</span>
      <span class="ss-icon">&#xE261;</span>
      <span class="ss-icon">&#xE280;</span>
      <span class="ss-icon">&#xE2A0;</span>
      <span class="ss-icon">&#xE2A1;</span>
      <span class="ss-icon">&#x1F4DE;</span>
      <span class="ss-icon">&#x260E;</span>
      <span class="ss-icon">&#x260F;</span>
      <span class="ss-icon">&#xE301;</span>
      <span class="ss-icon">&#x2315;</span>
      <span class="ss-icon">&#x1F4E2;</span>
      <span class="ss-icon">&#xE310;</span>
      <span class="ss-icon">&#xE311;</span>
      <span class="ss-icon">&#x1F4EB;</span>
      <span class="ss-icon">&#xE350;</span>
      <span class="ss-icon">&#x2709;</span>
      <span class="ss-icon">&#x1F4E9;</span>
      <span class="ss-icon">&#x1F4E5;</span>
      <span class="ss-icon">&#x1F4E4;</span>
      <span class="ss-icon">&#xE351;</span>
    </div>
    <div class="icons-row">

      <span class="ss-icon">&#x1F4AC;</span>
      <span class="ss-icon">&#xE390;</span>
      <span class="ss-icon">&#xE396;</span>
      <span class="ss-icon">&#xE397;</span>
      <span class="ss-icon">&#xE398;</span>
      <span class="ss-icon">&#xE399;</span>
      <span class="ss-icon">&#x263B;</span>
      <span class="ss-icon">&#x2639;</span>
      <span class="ss-icon">&#x1F603;</span>
      <span class="ss-icon">&#x1F600;</span>
      <span class="ss-icon">&#x1F464;</span>
      <span class="ss-icon">&#x1F465;</span>
      <span class="ss-icon">&#xE401;</span>
      <span class="ss-icon">&#xE402;</span>
      <span class="ss-icon">&#xE404;</span>
      <span class="ss-icon">&#xE405;</span>
      <span class="ss-icon">&#x1F46C;</span>
      <span class="ss-icon">&#x1F46D;</span>
      <span class="ss-icon">&#x1F46B;</span>
      <span class="ss-icon">&#xE420;</span>
      <span class="ss-icon">&#xE421;</span>
      <span class="ss-icon">&#xE422;</span>
      <span class="ss-icon">&#x1F476;</span>
      <span class="ss-icon">&#xE430;</span>
      <span class="ss-icon">&#xE440;</span>
    </div>
    <div class="icons-row">
      <span class="ss-icon">&#xE441;</span>
      <span class="ss-icon">&#x1F47D;</span>
      <span class="ss-icon">&#x1F47B;</span>
      <span class="ss-icon">&#x1F4C7;</span>
      <span class="ss-icon">&#x1F4D1;</span>
      <span class="ss-icon">&#x1F463;</span>
      <span class="ss-icon">&#xE500;</span>
      <span class="ss-icon">&#xE520;</span>
      <span class="ss-icon">&#x1F381;</span>
      <span class="ss-icon">&#x1F3EA;</span>
      <span class="ss-icon">&#xE540;</span>
      <span class="ss-icon">&#xE550;</span>
      <span class="ss-icon">&#x1F4B3;</span>
      <span class="ss-icon">&#x1F4B5;</span>
      <span class="ss-icon">&#x1F4B0;</span>
      <span class="ss-icon">&#xE551;</span>
      <span class="ss-icon">&#x1F3E6;</span>
      <span class="ss-icon">&#x1F528;</span>
      <span class="ss-icon">&#xE581;</span>
      <span class="ss-icon">&#x1F4CA;</span>
      <span class="ss-icon">&#xE570;</span>
      <span class="ss-icon">&#x1F4C8;</span>
      <span class="ss-icon">&#xE577;</span>
      <span class="ss-icon">&#x1F4E6;</span>
      <span class="ss-icon">&#xE5D8;</span>
    </div>
    <div class="icons-row">
      <span class="ss-icon">&#x2302;</span>
      <span class="ss-icon">&#xE601;</span>
      <span class="ss-icon">&#x1F3E2;</span>
      <span class="ss-icon">&#xE603;</span>
      <span class="ss-icon">&#xE604;</span>
      <span class="ss-icon">&#x1F3E8;</span>
      <span class="ss-icon">&#x1F30E;</span>
      <span class="ss-icon">&#x1F310;</span>
      <span class="ss-icon">&#xE671;</span>
      <span class="ss-icon">&#xE672;</span>
      <span class="ss-icon">&#xE673;</span>
      <span class="ss-icon">&#xE6D0;</span>
      <span class="ss-icon">&#x1F4CC;</span>
      <span class="ss-icon">&#xE700;</span>
      <span class="ss-icon">&#xE701;</span>
      <span class="ss-icon">&#xE702;</span>
      <span class="ss-icon">&#xE703;</span>
      <span class="ss-icon">&#x1F41B;</span>
      <span class="ss-icon">&#xE710;</span>
      <span class="ss-icon">&#xE714;</span>
      <span class="ss-icon">&#xE7A0;</span>
      <span class="ss-icon">&#xE7A2;</span>
      <span class="ss-icon">&#xE7A5;</span>
      <span class="ss-icon">&#xE7B0;</span>
      <span class="ss-icon">&#xE7B6;</span>
    </div>
    <div class="icons-row">
      <span class="ss-icon">&#xE7B7;</span>
      <span class="ss-icon">&#xE800;</span>
      <span class="ss-icon">&#x266B;</span>
      <span class="ss-icon">&#x1F3A4;</span>
      <span class="ss-icon">&#x1F3A7;</span>
      <span class="ss-icon">&#x1F508;</span>
      <span class="ss-icon">&#x1F4FB;</span>
      <span class="ss-icon">&#xE802;</span>
      <span class="ss-icon">&#x1F4BF;</span>
      <span class="ss-icon">&#xE811;</span>
      <span class="ss-icon">&#xE820;</span>
      <span class="ss-icon">&#xE821;</span>
      <span class="ss-icon">&#xE822;</span>
      <span class="ss-icon">&#x1F4F7;</span>
      <span class="ss-icon">&#x1F304;</span>
      <span class="ss-icon">&#xE851;</span>
      <span class="ss-icon">&#xE856;</span>
      <span class="ss-icon">&#x1F4F9;</span>
      <span class="ss-icon">&#x1F3AC;</span>
      <span class="ss-icon">&#xE8B0;</span>
      <span class="ss-icon">&#xE8B1;</span>
      <span class="ss-icon">&#x1F4FA;</span>
      <span class="ss-icon">&#xE8C0;</span>
      <span class="ss-icon">&#xE8C1;</span>
      <span class="ss-icon">&#x1F3AE;</span>
    </div>
    <div class="icons-row">
      <span class="ss-icon">&#x25B6;</span>
      <span class="ss-icon">&#xE8A0;</span>
      <span class="ss-icon">&#x25A0;</span>
      <span class="ss-icon">&#x25CF;</span>
      <span class="ss-icon">&#x23EA;</span>
      <span class="ss-icon">&#x23E9;</span>
      <span class="ss-icon">&#x23EE;</span>
      <span class="ss-icon">&#x23ED;</span>
      <span class="ss-icon">&#x23CF;</span>
      <span class="ss-icon">&#x1F500;</span>
      <span class="ss-icon">&#xE900;</span>
      <span class="ss-icon">&#xE901;</span>
      <span class="ss-icon">&#x1F4DA;</span>
      <span class="ss-icon">&#xE960;</span>
      <span class="ss-icon">&#x1F4D6;</span>
      <span class="ss-icon">&#xE961;</span>
      <span class="ss-icon">&#x1F4D3;</span>
      <span class="ss-icon">&#x1F4D2;</span>
      <span class="ss-icon">&#xE970;</span>
      <span class="ss-icon">&#x1F4F0;</span>
      <span class="ss-icon">&#xE971;</span>
      <span class="ss-icon">&#xE972;</span>
      <span class="ss-icon">&#xE973;</span>
      <span class="ss-icon">&#xE9A0;</span>
      <span class="ss-icon">&#xE9A3;</span>
    </div>
    <div class="icons-row">
      <span class="ss-icon">&#xE9B0;</span>
      <span class="ss-icon">&#x1F4BB;</span>
      <span class="ss-icon">&#xEA00;</span>
      <span class="ss-icon">&#xEA01;</span>
      <span class="ss-icon">&#x1F4F1;</span>
      <span class="ss-icon">&#x1F4F6;</span>
      <span class="ss-icon">&#x1F50B;</span>
      <span class="ss-icon">&#xEA11;</span>
      <span class="ss-icon">&#xEA13;</span>
      <span class="ss-icon">&#xEA14;</span>
      <span class="ss-icon">&#xEA20;</span>
      <span class="ss-icon">&#xEA21;</span>
      <span class="ss-icon">&#xEA22;</span>
      <span class="ss-icon">&#x1F6AA;</span>
      <span class="ss-icon">&#xEA80;</span>
      <span class="ss-icon">&#xEA81;</span>
      <span class="ss-icon">&#xEA82;</span>
      <span class="ss-icon">&#x1F6BD;</span>
      <span class="ss-icon">&#xEA84;</span>
      <span class="ss-icon">&#x1F4A1;</span>
      <span class="ss-icon">&#xEA85;</span>
      <span class="ss-icon">&#x1F526;</span>
      <span class="ss-icon">&#xEAB0;</span>
      <span class="ss-icon">&#x1F525;</span>
      <span class="ss-icon">&#xEAB1;</span>
    </div>
    <div class="icons-row">
      <span class="ss-icon">&#xEA90;</span>
      <span class="ss-icon">&#x1F49F;</span>
      <span class="ss-icon">&#xEA91;</span>
      <span class="ss-icon">&#xEA92;</span>
      <span class="ss-icon">&#xEA93;</span>
      <span class="ss-icon">&#xEA94;</span>
      <span class="ss-icon">&#xEA95;</span>
      <span class="ss-icon">&#x269B;</span>
      <span class="ss-icon">&#xEAD0;</span>
      <span class="ss-icon">&#x1F48D;</span>
      <span class="ss-icon">&#x1F388;</span>
      <span class="ss-icon">&#xEAE0;</span>
      <span class="ss-icon">&#x1F383;</span>
      <span class="ss-icon">&#xEAE1;</span>
      <span class="ss-icon">&#x1F384;</span>
      <span class="ss-icon">&#xEAA0;</span>
      <span class="ss-icon">&#xEAA1;</span>
      <span class="ss-icon">&#xEAA2;</span>
      <span class="ss-icon">&#xEAA3;</span>
      <span class="ss-icon">&#xEAA4;</span>
      <span class="ss-icon">&#xEA86;</span>
      <span class="ss-icon">&#x26FC;</span>
      <span class="ss-icon">&#x2680;</span>
      <span class="ss-icon">&#x2681;</span>
      <span class="ss-icon">&#x2682;</span>
    </div>
    <div class="icons-row">
      <span class="ss-icon">&#x2683;</span>
      <span class="ss-icon">&#x2684;</span>
      <span class="ss-icon">&#x2685;</span>
      <span class="ss-icon">&#xEA87;</span>
      <span class="ss-icon">&#xEB00;</span>
      <span class="ss-icon">&#xEB02;</span>
      <span class="ss-icon">&#xEB03;</span>
      <span class="ss-icon">&#xEB40;</span>
      <span class="ss-icon">&#xEB42;</span>
      <span class="ss-icon">&#xEB43;</span>
      <span class="ss-icon">&#x21C6;</span>
      <span class="ss-icon">&#x21BB;</span>
      <span class="ss-icon">&#xEB82;</span>
      <span class="ss-icon">&#xEB84;</span>
      <span class="ss-icon">&#xEB85;</span>
      <span class="ss-icon">&#xEB86;</span>
      <span class="ss-icon">&#xEC00;</span>
      <span class="ss-icon">&#xEC01;</span>
      <span class="ss-icon">&#xEC02;</span>
      <span class="ss-icon">&#xEC04;</span>
      <span class="ss-icon">&#xEC05;</span>
      <span class="ss-icon">&#x1F4C1;</span>
      <span class="ss-icon">&#xEC71;</span>
      <span class="ss-icon">&#xEC72;</span>
      <span class="ss-icon">&#xEC74;</span>
    </div>
    <div class="icons-row">
      <span class="ss-icon">&#xEC76;</span>
      <span class="ss-icon">&#xEC77;</span>
      <span class="ss-icon">&#x21A9;</span>
      <span class="ss-icon">&#x21AA;</span>
      <span class="ss-icon">&#x201C;</span>
      <span class="ss-icon">&#xED01;</span>
      <span class="ss-icon">&#xED10;</span>
      <span class="ss-icon">&#x2399;</span>
      <span class="ss-icon">&#x1F4E0;</span>
      <span class="ss-icon">&#xED40;</span>
      <span class="ss-icon">&#xED41;</span>
      <span class="ss-icon">&#xED50;</span>
      <span class="ss-icon">&#xEE00;</span>
      <span class="ss-icon">&#x2197;</span>
      <span class="ss-icon">&#x2922;</span>
      <span class="ss-icon">&#xEE01;</span>
      <span class="ss-icon">&#xEE04;</span>
      <span class="ss-icon">&#xEE05;</span>
      <span class="ss-icon">&#xEE10;</span>
      <span class="ss-icon">&#xEE11;</span>
      <span class="ss-icon">&#x2753;</span>
      <span class="ss-icon">&#x2139;</span>
      <span class="ss-icon">&#x26A0;</span>
      <span class="ss-icon">&#x26D4;</span>
      <span class="ss-icon">&#x002B;</span>
    </div>
    <div class="icons-row">
      <span class="ss-icon">&#x002D;</span>
      <span class="ss-icon">&#x2713;</span>
      <span class="ss-icon">&#x2421;</span>
      <span class="ss-icon">&#x1F436;</span>
      <span class="ss-icon">&#x1F431;</span>
      <span class="ss-icon">&#x1F43B;</span>
      <span class="ss-icon">&#x1F426;</span>
      <span class="ss-icon">&#x1F415;</span>
      <span class="ss-icon">&#x1F411;</span>
      <span class="ss-icon">&#x1F416;</span>
      <span class="ss-icon">&#xEF60;</span>
      <span class="ss-icon">&#xEF61;</span>
      <span class="ss-icon">&#x1F334;</span>
      <span class="ss-icon">&#x1F332;</span>
      <span class="ss-icon">&#x1F342;</span>
      <span class="ss-icon">&#x2698;</span>
      <span class="ss-icon">&#x2699;</span>
      <span class="ss-icon">&#xF000;</span>
      <span class="ss-icon">&#x1F514;</span>
      <span class="ss-icon">&#xF001;</span>
      <span class="ss-icon">&#xF002;</span>
      <span class="ss-icon">&#xF003;</span>
      <span class="ss-icon">&#x1F506;</span>
      <span class="ss-icon">&#xF011;</span>
      <span class="ss-icon">&#xF030;</span>
    </div>
    <div class="icons-row">
      <span class="ss-icon">&#xF031;</span>
      <span class="ss-icon">&#x1F527;</span>
      <span class="ss-icon">&#xF032;</span>
      <span class="ss-icon">&#xF033;</span>
      <span class="ss-icon">&#xF034;</span>
      <span class="ss-icon">&#xF035;</span>
      <span class="ss-icon">&#xF036;</span>
      <span class="ss-icon">&#x23F3;</span>
      <span class="ss-icon">&#x23F2;</span>
      <span class="ss-icon">&#x23F1;</span>
      <span class="ss-icon">&#x23F0;</span>
      <span class="ss-icon">&#x1F4C5;</span>
      <span class="ss-icon">&#xF0D0;</span>
      <span class="ss-icon">&#xF0D1;</span>
      <span class="ss-icon">&#x2731;</span>
      <span class="ss-icon">&#xF100;</span>
      <span class="ss-icon">&#xF101;</span>
      <span class="ss-icon">&#xF102;</span>
      <span class="ss-icon">&#x1F354;</span>
      <span class="ss-icon">&#x1F382;</span>
      <span class="ss-icon">&#xF113;</span>
      <span class="ss-icon">&#x1F355;</span>
      <span class="ss-icon">&#x1F35F;</span>
      <span class="ss-icon">&#x1F34F;</span>
      <span class="ss-icon">&#x2615;</span>
    </div>
    <div class="icons-row">
      <span class="ss-icon">&#xF120;</span>
      <span class="ss-icon">&#xF121;</span>
      <span class="ss-icon">&#x1F37A;</span>
      <span class="ss-icon">&#xF122;</span>
      <span class="ss-icon">&#xF123;</span>
      <span class="ss-icon">&#x1F377;</span>
      <span class="ss-icon">&#x1F378;</span>
      <span class="ss-icon">&#xF124;</span>
      <span class="ss-icon">&#xF125;</span>
      <span class="ss-icon">&#x1F37C;</span>
      <span class="ss-icon">&#xF126;</span>
      <span class="ss-icon">&#xF140;</span>
      <span class="ss-icon">&#xF160;</span>
      <span class="ss-icon">&#xF161;</span>
      <span class="ss-icon">&#x1F374;</span>
      <span class="ss-icon">&#x1F455;</span>
      <span class="ss-icon">&#x1F393;</span>
      <span class="ss-icon">&#xF1F0;</span>
      <span class="ss-icon">&#xF1F1;</span>
      <span class="ss-icon">&#xF1F2;</span>
      <span class="ss-icon">&#xF1F3;</span>
      <span class="ss-icon">&#xF1F4;</span>
      <span class="ss-icon">&#xF1F5;</span>
      <span class="ss-icon">&#xF1F6;</span>
      <span class="ss-icon">&#xF1F7;</span>
    </div>
    <div class="icons-row">
      <span class="ss-icon">&#xF1F8;</span>
      <span class="ss-icon">&#xF1F9;</span>
      <span class="ss-icon">&#x2600;</span>
      <span class="ss-icon">&#x26C5;</span>
      <span class="ss-icon">&#x1F308;</span>
      <span class="ss-icon">&#x2602;</span>
      <span class="ss-icon">&#x1F319;</span>
      <span class="ss-icon">&#x1F311;</span>
      <span class="ss-icon">&#x1F312;</span>
      <span class="ss-icon">&#x1F313;</span>
      <span class="ss-icon">&#x1F314;</span>
      <span class="ss-icon">&#x1F315;</span>
      <span class="ss-icon">&#x1F316;</span>
      <span class="ss-icon">&#x1F317;</span>
      <span class="ss-icon">&#x1F318;</span>
      <span class="ss-icon">&#x1F698;</span>
      <span class="ss-icon">&#xF300;</span>
      <span class="ss-icon">&#x1F696;</span>
      <span class="ss-icon">&#x1F686;</span>
      <span class="ss-icon">&#x1F68D;</span>
      <span class="ss-icon">&#x1F69A;</span>
      <span class="ss-icon">&#xF301;</span>
      <span class="ss-icon">&#xF302;</span>
      <span class="ss-icon">&#x2708;</span>
      <span class="ss-icon">&#x1F6B2;</span>
    </div>
    <div class="icons-row">
      <span class="ss-icon">&#xF303;</span>
      <span class="ss-icon">&#x1F6A2;</span>
      <span class="ss-icon">&#x1F680;</span>
      <span class="ss-icon">&#xF304;</span>
      <span class="ss-icon">&#xF310;</span>
      <span class="ss-icon">&#xF311;</span>
      <span class="ss-icon">&#x26FD;</span>
      <span class="ss-icon">&#xF312;</span>
      <span class="ss-icon">&#x267F;</span>
      <span class="ss-icon">&#x1F6BB;</span>
      <span class="ss-icon">&#xF380;</span>
      <span class="ss-icon">&#x1F4BC;</span>
      <span class="ss-icon">&#x1F3AD;</span>
      <span class="ss-icon">&#x1F3AB;</span>
      <span class="ss-icon">&#xF400;</span>
      <span class="ss-icon">&#x1F3B1;</span>
      <span class="ss-icon">&#x26BE;</span>
      <span class="ss-icon">&#x1F3BE;</span>
      <span class="ss-icon">&#x1F3C0;</span>
      <span class="ss-icon">&#x1F3C8;</span>
      <span class="ss-icon">&#x26BD;</span>
      <span class="ss-icon">&#x26F3;</span>
      <span class="ss-icon">&#xF407;</span>
      <span class="ss-icon">&#xF408;</span>
      <span class="ss-icon">&#x1F3BF;</span>
    </div>
    <div class="icons-row">
      <span class="ss-icon">&#xF410;</span>
      <span class="ss-icon">&#x1F3C3;</span>
      <span class="ss-icon">&#xF411;</span>
      <span class="ss-icon">&#xF414;</span>
      <span class="ss-icon">&#x26E8;</span>
      <span class="ss-icon">&#xF4B0;</span>
      <span class="ss-icon">&#xF4B1;</span>
      <span class="ss-icon">&#xF4B2;</span>
      <span class="ss-icon">&#xF4C0;</span>
      <span class="ss-icon">&#xF4C1;</span>
      <span class="ss-icon">&#x2B06;</span>
      <span class="ss-icon">&#x27A1;</span>
      <span class="ss-icon">&#x2B07;</span>
      <span class="ss-icon">&#x2B05;</span>
      <span class="ss-icon">&#xF500;</span>
      <span class="ss-icon">&#x25BB;</span>
      <span class="ss-icon">&#xF501;</span>
      <span class="ss-icon">&#x25C5;</span>
      <span class="ss-icon">&#xF601;</span>
    </div>
  </div>
</section>