<h1 class="section-heading">Navigation System</h1>

<section class="sub-section">
  <h5 class="sub-section-heading">Learn</h5>

  <nav>
    <div class="product-nav">
      <span>Choose a Product</span>

      <ul>
        <li>
          <img class="icon" src="/img/recruit-icon-white.png">
          <span class="label">Recruit</span>
        </li>

        <li>
          <img class="icon" src="/img/onboard-icon-white.png">
          <span class="label">On-Board</span>
        </li>

        <li>
          <img class="icon" src="/img/analyze-icon-white.png">
          <span class="label">Analyze</span>
        </li>
      </ul>
    </div>

    <div class="main-nav">
      <div class="current-product">
        <img class="icon" src="/img/learn-icon-white.png">
      </div>

      <ul>
        <li>
          <span class="ss-icon">&#xE671;</span>
        </li>

        <li>
          <span class="ss-icon">&#x1F4F0;</span>
        </li>

        <li>
          <span class="ss-icon">&#x1F464;</span>
        </li>

        <li>
          <span class="ss-icon">&#x2753;</span>
        </li>
      </ul>
    </div>
  </nav>
</section>