<h1 class="section-heading">Tables</h1>

<section class="sub-section">
  <h5 class="sub-section-heading">Standard Table</h5>

  <table>
    <thead>
      <tr>
        <th class="name">
          <span class="up-arrow">&#8593;</span>
          <span class="down-arrow">&#8595;</span>
          <span class="label">Name</span>
        </th>
        <th class="status">
          <span class="up-arrow">&#8593;</span>
          <span class="down-arrow">&#8595;</span>
          <span class="label">Status</span>
        </th>
        <th class="location">
          <span class="up-arrow">&#8593;</span>
          <span class="down-arrow">&#8595;</span>
          <span class="label">Location</span>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td class="name">Title Link Here</td>
        <td class="status">New</td>
        <td class="location">London</td>
      </tr>
      <tr>
        <td class="name">Title Link Here</td>
        <td class="status">New</td>
        <td class="location">London</td>
      </tr>
      <tr>
        <td class="name">Title Link Here</td>
        <td class="status">New</td>
        <td class="location">London</td>
      </tr>
    </tbody>
  </table>
</section>

<section class="sub-section">
  <h5 class="sub-section-heading">Mobile Table</h5>

  <table class="mobile">
    <thead>
      <tr>
        <th class="name">
          <span class="up-arrow">&#8593;</span>
          <span class="down-arrow">&#8595;</span>
          <span class="label">Name</span>
        </th>
        <th class="status">
          <span class="up-arrow">&#8593;</span>
          <span class="down-arrow">&#8595;</span>
          <span class="label">Status</span>
        </th>
        <th class="location">
          <span class="up-arrow">&#8593;</span>
          <span class="down-arrow">&#8595;</span>
          <span class="label">Location</span>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td class="name">Title Link Here</td>
        <td class="status">New</td>
        <td class="location">London</td>
      </tr>
      <tr>
        <td class="name">Title Link Here</td>
        <td class="status">New</td>
        <td class="location">London</td>
      </tr>
      <tr>
        <td class="name">Title Link Here</td>
        <td class="status">New</td>
        <td class="location">London</td>
      </tr>
    </tbody>
  </table>
</section>