<h1 class="section-heading">Typography</h1>

<div class="type-container">
  <div class="sans-serif-container">
    <span class="example">Aa</span>
    <div class="description">
      <span class="type">Gotham</span>
      <span>abcdefghijklmnopqrstuvwxyz</span>
      <span>ABCDEFGHIJKLMNOPQRSTUVWXYZ</span>
      <span>123456789</span>
    </div>
  </div>

  <div class="serif-container">
    <span class="example">Aa</span>
    <div class="description">
      <span class="type">Mercury</span>
      <span>abcdefghijklmnopqrstuvwxyz</span>
      <span>ABCDEFGHIJKLMNOPQRSTUVWXYZ</span>
      <span>123456789</span>
    </div>
  </div>
</div>

<section class="sub-section">
  <div id="typography-headings">
    <h5 class="sub-section-heading">Headings</h5>
  </div>
  <div class="headings-container">
    <h1>Header H1, Gotham Medium 20px</h1>
    <h2>Header H2, Gotham Medium 18px</h2>
    <h3>Header H3, Gotham Medium 16px</h3>
  </div>
</section>

<section class="sub-section">
  <div id="typography-lists">
    <h5 class="sub-section-heading">Lists</h5>
  </div>

  <ul class="list-container">
    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, donec condimentum dui vel dui pharetra porta</li>
    <li>Nulla eget turpis in lectus tempor ullamcorper, nulla eget neque ac libero luctus aliquet</li>
    <li>Phasellus cursus enim eu feugiat lacinia, praesent ut enim bibendum, dictum metus vitae, vehicula nibh
      <ul>
        <li>Pellentesque ut enim et lacus fermentum mollis sit amet id ligula</li>
        <li>In vehicula ligula id mi varius elementum</li>
      </ul>
    </li>
    <li>Nam gravida est non porttitor blandit, vivamus et nibh id diam mollis venenatis ut vitae ligula, pellentesque quis nulla id sapien malesuada ornare</li>
  </ul>
</section>

<section class="sub-section">
  <div id="typography-body">
    <h5 class="sub-section-heading">Body Copy</h5>
  </div>

  <p class="body-container">Gotham Book 14px. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mollis commodo felis, eu varius ante porta malesuada. Aliquam erat volutpat. Pellentesque molestie, neque ut posuere laoreet, lorem nibh suscipit urna, nec facilisis nunc dolor id odio. Fusce sit amet purus leo. Nulla tortor tellus, interdum a volutpat eget, pharetra varius magna. Ut a orci ipsum. Aliquam pellentesque magna felis, a congue urna elementum venenatis. Vestibulum posuere mauris quis elit placerat, quis rutrum tellus sagittis. Nulla ut pharetra turpis. Curabitur aliquam elit non arcu sodales, vel tristique lorem commodo. Vestibulum lobortis odio id sapien consectetur, consequat facilisis nulla feugiat. Proin non arcu velit.</p>
</section>

<section class="sub-section">
  <div id="typography-links">
    <h5 class="sub-section-heading">Links</h5>
  </div>

  <div class="links-container">
    <span class="normal">This is a link.</span>
    <span class="hover">This is a hover link.</span>
  </div>
</section>

<section class="sub-section">
  <div id="typography-blockquote">
    <h5 class="sub-section-heading">Blockquote</h5>
  </div>

  <p class="blockquote-container">Mercury Book Italic 28px. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac elit vitae purus aliquam tincidunt viverra quis sapien.</p>
</section>