<h1 class="section-heading">Typography</h1>

<div class="type-container">
  <div class="sans-serif-container">
    <span class="example">Aa</span>
    <div class="description">
      <span class="type">Gotham</span>
      <span>abcdefghijklmnopqrstuvwxyz</span>
      <span>ABCDEFGHIJKLMNOPQRSTUVWXYZ</span>
      <span>123456789</span>
    </div>
  </div>

  <div class="serif-container">
    <span class="example">Aa</span>
    <div class="description">
      <span class="type">Mercury</span>
      <span>abcdefghijklmnopqrstuvwxyz</span>
      <span>ABCDEFGHIJKLMNOPQRSTUVWXYZ</span>
      <span>123456789</span>
    </div>
  </div>
</div>